<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Drop Down Navigation Menu | CodingLab </title>-->
    <link rel="stylesheet" href="styles.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
   <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      
      <div class="logo"><a href="localhost:3000"><img src="Logo.png"style = "width:50px;margin-right:10px">SearchBook</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">CodingLab</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="/">HOME</a></li>
          <li>
            <a href="/gettopic">MY TOPICS</a>
          
            <ul class="htmlCss-sub-menu sub-menu">
              
             
               
                
             
            </ul>
          </li>
          <li>
            <a href="pdfmytopics">GENERATE PDF</a>
          </li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </div>
     
    </div>
  </nav> 
  
  <!-- <div class="popup">
    <button id  ='show'>CREATE TOPIC</button>
    
    <div id = 'dPopupContainer' class = 'popupContainer'>
        <div id = 'dPopupContent' class ='popupContent'>
          <form action="/save" method="POST">
            <label for="createtopic" class="createtopic">Topic name</label><br>
             <input type="text" name="topic" class="createtopicinput"/> 
              <div class="buttongroup">
                 <button type="submit" id="create">Create</button>
                 <button id="cancel">Cancel</button>
              </div>
           </form> 
        </div>
    </div> -->

    <!-- <div class="alertsuccess">
      
    </div>
  </div> -->


      
 

  <div class="buttoncontainer">


    <%if (success == ''){%>
    <% if(alldata.length > 0){ %>
        <% alldata.forEach(data => {  
          
            var c=   data.topic; 
            %>
          <div style = "display: flex;justify-content: center;align-items: center;">
          <a href="/xhowing/<%=data.topic%>" class="topicsa"> <button  id="<%=c%>" class="btngrp" onclick="myFunction(this.getAttribute('id'),this.getAttribute('class'));" ><%=data.topic%></button></a>
       
          <a href="/gettopic/<%=data.topic%>" > <button style="border-radius: 10px;font-weight:bold;padding:10px;transform:translateY(10px);margin-left:40px;background-color:#E9D5CA;color:#363062;" >Select</button></a>
      
          </div>
        
        <% })%>
    <% } else { %>
        <p> There are no topics to display...</p>
    <% } %>

    <%}%>
    
    <!-- <input type="radio" name = "size" id="small">
    <label for="small">Small</label><br>
    <input type="radio" name = "size" id = "large">
    <label for="large">Large</label> -->
    

  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script>

const baseUrl= "http://localhost:3000/gettopic";
 function myFunction(idnme,clsnme) {
  console.log(idnme);
  elements = document.getElementsByClassName(clsnme);
  for (var i = 0; i < elements.length; i++) {
        elements[i].style.backgroundColor="#827397";
    }
  document.getElementById(idnme).style.background = '#4D4C7D';
  
  // const res= await fetch(baseUrl,
  //   {
  //     method: 'POST',
  //     headers:{
  //     "Content-Type" : "application/json "
  //     },
  //     body: JSON.stringify({
  //     parcel: idnme
  //      })
  //   }
    
  //  );
  
}

async function myFun(data) {
console.log(data);
  
  const res= await fetch(baseUrl,
    {
      method: 'POST',
      headers:{
      "Content-Type" : "application/json "
      },
      body: JSON.stringify({
      parcel: data
       })
    }
    
   );
  
}


  </script>
</body>
</html>

