/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
<<<<<<< HEAD

body{
  min-height: 100vh;
  
=======
body{
  min-height: 100vh;
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
<<<<<<< HEAD
  background: #4D4C7D;
=======
  background: #da168c;
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #da168c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #da168c;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #da168c;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #da168c;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #da168c;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}


.popupContainer
    {
        display: none;
        left: 0;
        top: 0;
        width:100%;
        height:100%;
        position: fixed;
        padding-top: 100px;
    }



    .popupContent {

<<<<<<< HEAD
        background-color: #827397;
        
        height: 380px;
        width: 42%;
        margin: auto;
        
        text-align:center;
        border-radius: 10px;
        border: 2px solid #363062;
=======
        background-color: chartreuse;
        
        height: 150px;
        width: 40%;
        margin: auto;
        
        text-align:center;
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17
       

    }
    .createtopicinput{
        margin-top:20px;
        margin-bottom:30px;

    }
    .popupContent button{
        
        padding:5px;
        
    }

    #show{
        margin-top: 120px;
        margin-left:auto;
        margin-right: auto;
        display: block;
        padding: 9px;
<<<<<<< HEAD
        background-color: #E9D5CA;
        /* border: 2px solid blue;  */
        border:0mm;
        /* cursor: pointer; */
        color: #363062;
=======
        background-color: blanchedalmond;
        border: 2px solid blue;
        /* cursor: pointer; */
        color:blue;
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17
    }

    .alertsuccess{
      transform: translateY(-70px);
      display:none;
      width:300px;
      height:200px;
      background-color: red;
      border:2px solid black;
      margin-left:auto;
      margin-right:auto;
    }

    .buttoncontainer{
      /* transform: translate(-50%,-50%); */
      /* position:absolute; */
      /* top:50%; */
      /* left:50%; */
      margin-left:auto;
      margin-right:auto;
      margin-top:100px;
    }
<<<<<<< HEAD
    #create{
      background-color:#e9d5ca ;
      border:0mm ;
    }

    #cancel{
      background-color:#e9d5ca ;
      border:0mm ;
    }
=======
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17

  

     .buttoncontainer label{
      /* position:relative; */
       color:#01cc65;
      font-family:'Poppins',sans-serif;
      font-size:30px;
      border:2px solid #01cc65;
      border-radius:5px;
      padding: 10px 50px;
      display:flex;
      align-items:center;
      width: 500px;
      margin-left:auto;
      margin-right:auto;
      
    }

    .buttoncontainer label:before{
    
      content: "";
      height:30px;
      width:30px;
      border:3px solid #01cc65;
      border-radius:50%;
      margin-right:20px;


    }
     

     input[type="radio"]{
       /* display:none;  */
      margin-left: 480px;
    
      
    } 

    input[type="radio"]:checked+label{
      background-color:#01cc65;
      color:white;
    }
    input[type="radio"]:checked+label:before{
      height:16px;
      width:16px;
      border:10px solid white;
      background-color: #01cc65;
    } 
   
    /* .inputstyle{
      display:none;
    }

    .inputstyle:checked + label{
      background-color:#01cc65;
      color:white;
    }
    .inputstyle:checked + label:before{
      height:16px;
      width:16px;
      border:10px solid white;
      background-color: #01cc65;
    } */
    
     .btngrp{
      display: block;
      padding:10px;
      margin-left:auto;
      margin-right:auto;
      
      border: 2px solid black;
<<<<<<< HEAD
      background-color: #827397;
      color:#E9D5CA;
=======
      background-color: aqua;
      color:black;
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17
      width: 400px;
      margin-top:20px;
      font-size: 1.6rem;
      font-weight: bold;
<<<<<<< HEAD
      border-radius: 10px;

    }

    #create,#cancel{

      margin: 10px;
      width: 110px;
      height: 60px;
      border-radius: 10px;
      border: 2px solid;
    }

    .createtopicinput{

      width: 390px;
      height: 40px;
      border: 2px solid #000000;
      border-radius:  10px;
      margin-top: 35px;
      margin-bottom: 35px;
    }
  
    .createtopic{
      margin-top: 15px;
      font-size: 35px;

      font-weight: bold;
      color: #e9d5ca;
    }
 
    .topicsa{
      text-decoration:none;
    }
    
 
    #show{
      padding: 15px;
      font-size: 30px;
      font-weight: bold;
      transform: translateY(20px);
      border-radius: 10px;
    }
    
=======
      border-radius: 20px;

    }

  
 
      
    
 
>>>>>>> b7209b44fd93f0f081d89d600d98af8cf6d89c17
