<h1>home</h1>



<a href="/signup"><button  style="
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;">Sign Up</button></a>

<a href="/signin"><button  style="
    background-color: #0a7685;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;">Sign In</button></a>